<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="br.com.jera"
      android:versionCode="1"
      android:versionName="1.0">
      <uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="Main"
                  android:label="FODACITY">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<!-- xtify configuration start -->
		<activity android:name="com.xtify.android.sdk.SettingsActivity"
			android:label="Settings">
		</activity>
		<activity android:name="com.xtify.android.sdk.NotificationDetailsActivity"
			android:label="Notification Details" android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.xtify.android.sdk.NotificationSettingsActivity"
			android:label="Notification Settings">
		</activity>
		<service android:name="com.xtify.android.sdk.MainService"
			android:label="Notifications Service">
			<intent-filter>
				<action android:name="com.xtify.android.sdk.IMainService" />
				<category android:name="com.xtify.android.sdk.IMainService" />
				<category android:name="com.xtify.android.sdk.IMainService.Vxxxx" />
			</intent-filter>
		</service>
		<receiver android:name="com.xtify.android.sdk.MainReceiver">
			<intent-filter>
				<action android:name="com.xtify.android.sdk.SHOW_NOTIFICATION" />
				<action android:name="com.xtify.android.sdk.NOTIFICATION_CLICKED" />
				<action android:name="com.xtify.android.sdk.NOTIFICATION_CLEARED" />
				<!-- MAKE SURE THE APP KEY ON THE NEXT LINE IS PRECEDED BY A SLASH -->
				<data android:scheme="notif" android:host="notification.xtify.com"
					android:pathPrefix="/7706e1fb-f884-4e2f-b384-1661ea0436d8" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="com.xtify.android.sdk.SEND_SETTINGS" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<data android:scheme="package" />
			</intent-filter>
		</receiver>
		<meta-data android:name="XTIFY_SDK_API_KEY" android:value="7706e1fb-f884-4e2f-b384-1661ea0436d8" />
		<receiver android:name="br.com.jera.fodacity.PushNotificationReceiver">
			<intent-filter android:priority="9999">
				<action android:name="com.xtify.android.sdk.SHOW_NOTIFICATION" />
				<!-- KEEP THE FORWARD SLASH IN FRONT OF THE APP KEY ON THE LINE BELOW -->
				<data	android:scheme="notif" 
						android:host="notification.xtify.com"
						android:pathPrefix="/7706e1fb-f884-4e2f-b384-1661ea0436d8" />
			</intent-filter>
		</receiver>
        <!-- xtify configuration end -->
    </application>
</manifest> 
